@font-face {
  font-family: 'Geist Sans';
  src: url('/font/Geist-Regular.woff2') format('woff2');
  font-weight: 400;
  font-style: normal;
}

@font-face {
  font-family: 'Geist Mono';
  src: url('/font/GeistMono-Regular.woff2') format('woff2');
  font-weight: 400;
  font-style: normal;
}

:root {
  --font-sans: 'Geist Sans', system-ui, sans-serif;
  --font-mono: 'Geist Mono', monospace;
}

::-webkit-scrollbar{
  display: none;
}

@import "tailwindcss";