@font-face {
  font-family: 'Geist Sans';
  src: url('/font/Geist-Regular.woff2') format('woff2');
  font-weight: 400;
  font-style: normal;
}

@font-face {
  font-family: 'Geist Mono';
  src: url('/font/GeistMono-Regular.woff2') format('woff2');
  font-weight: 400;
  font-style: normal;
}

:root {
  --font-sans: 'Geist Sans', system-ui, sans-serif;
  --font-mono: 'Geist Mono', monospace;
}

::-webkit-scrollbar{
  display: none;
}



.box{
  background-image: linear-gradient(rgba(59, 130, 246, 0.3) 1px , transparent 1px) , linear-gradient(90deg , rgba(59, 130, 246, 0.3) 1px , transparent 1px);
  background-size: 40px 40px;
}

.line{
  transform: scaleX(0);
}
@import "tailwindcss";